<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>Wybierz użytkownika do zalogowania</h2>
        <div class="user-list">
            {% for user in users %}
            <a href="{{ url_for('login', username=user) }}" class="user-button">{{ user }}</a>
            {% endfor %}
        </div>
        <div class="flash-messages">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
</body>
</html>
